.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: chocolate;
}

.content {
    background-color: rgb(252, 231, 205);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;

}
h1 {
   text-align: center; 
}

.news:first-child {
    width: 100%;
}
.news {
    width: 30%;
}

#breaking {
    order: -1;
    width: 60%;
}

#breaking h3 {
    text-align: center;
    font-size: 60px;
}