.totaal {
    display: flex;
    flex-direction: row;
}

.bak {
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.informatie {
    display: flex;
    flex-direction: row;
    align-items: center;      
}

.reclame {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: darkblue;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;


}

button {
    width: 100px;
}